@font-face {
    font-family: 'uclFont';
    src: url('font/champions-font.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('src/background.jpg');
    background-size: 100%;
    background-position: start;
    color: #fff;
    font-family: 'uclFont', sans-serif;
    font-weight: bold;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container2 {
    margin: 1rem auto;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.);
}

#logo img {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    margin-right: -8rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    font-size: 1.3rem;
    margin-left: -9rem;
}

nav ul li {
    display: inline;
    padding: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: ease 0.3s;
}

nav ul li a:hover {
    color: #ccc;
    background-color: rgba(28, 35, 242, 0.9);
    border-radius: 2rem;
    padding: 1rem;
}

h1 {
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid;
    border-radius: 1rem;
    padding: 0.5rem;
}

p {
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 60rem;
    height: 40rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

